@page "/knowledge"
<link rel="stylesheet" href="/css/knowledge.css">

<div class="modal-body row ">

    <div class="col-md-2 border-right border-dark toronto-content">

        <h2>Categories</h2>

        <ol class="list-group list-group-flush">
            @for (int i = 0; i < 3; i++)
            {
                <li class="list-group-item border-top ">
                    <h5> <a href="#">Language C#</a></h5>
                </li>
            }
        </ol>
    </div>


    <div class="col-md-10">
        @for (int i = 0; i < 3; i++)
        {
            <div class="article" @onclick="divOn">
                <h4 class="mb-0">
                    <a class="text-dark">Titlu</a>
                </h4>
                <div class="mb-1 text-muted">by author</div>
                <p class="mb-auto">Acea scurta descriere .Brb ca vine mama si ma vede ca nu invauhyhuioloulhsadadfsaddfsf</p>
            </div>
        }
    </div>

</div>


@code {

    private void divOn()
    {

    }

}
