.right-side-container{
   
    margin-top:1px;
    margin-right:20px;
    margin-bottom:100px;
    width:30%;
}
.upper-container{
    margin-top:20px;
    width:50%;
    margin-right:700px;
}

h2{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:50px;
    margin-left:14px;
}
label{
    color:black;
}
.border-style {
    resize: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    border-radius:1%;  
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid black;
    margin-top:5px;
    
}

    .button1:hover {
        background-color: black;
        color: white;
    }

media{
    height:150px;
}
.comment-text {
    width: 500px;
    resize: none;
}
.size-of-details{
    width:auto;
    background-color:azure;
    text-overflow:ellipsis;
    
}

.button2 {
    background-color: red;
    border: 2px solid black;
    margin-top: 5px;
    outline:none;
}
