.right-side-container{
   
    margin-top:10px;
    margin-bottom:60px
}
.upper-container{
    margin-top:20px;
}
.comment-section{
    padding-top:20px;
    margin-top:40px;
}
h2{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:50px;
    margin-left:50px;
}
label{
    color:black;
}
.border-style {
    resize: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
    border-radius:1%;
    
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid black;
    
}

    .button1:hover {
        background-color: black;
        color: white;
    }

media{
    height:150px;
}
.comment-text{
    width:500px;
    resize:none;
}
.size-of-details{
    width:auto;
}

