@page "/addarticle"
@using Microsoft.AspNetCore.Identity;
@inject Siemens.MP.Data.Repositories.GenericRepository<Siemens.MP.Entities.Article> ArticleRepository
@inject NavigationManager nav

<head>

</head>
<body>
    <div class="modal-body row ">

        <div class="container">
            <h2>Add your article</h2>
            <form>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Title</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" @bind="@Title" />
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Description</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea" rows="8" cols="100" @bind="@Description"></textarea>
                </div>

            </form>
        </div>

        <div class="align-self-center ml-auto">
            <button type="button" class="btn btn-primary" @onclick="AddArticlee">Done</button>
        </div>
    </div>

</body>





@code {
    private string Title;
    private string Description;


    private void AddArticlee()
    {
        Siemens.MP.Entities.Article newArticle = new Siemens.MP.Entities.Article
        {
            Title = Title,
            Text = Description
        };
        ArticleRepository.Insert(newArticle);

        Title = string.Empty;
        Description = string.Empty;
        nav.NavigateTo("/knowledge");



    }
}