@page "/myprofile"
<h2 style="text-align:center">User Profile Card</h2>
<div class="modal-body row">
    <div class="project-first-column">
        <div class="card" id="profile">
            <center>
                <img src="/css/bootstrap/img.jpg" alt="John" style="width:100%">
                <h1>John Wick</h1>
                <p class="title">Programmer</p>
                <p>Siemens</p>
                <a href="https://www.facebook.com/ionuut.alban">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                <p><button>Follow</button></p>
            </center>
        </div>
    </div>
    <div class="project-second-column">
        <div class="card" id="profile" style="margin-bottom:50px; margin-top:30px" >
            <h2>Projects</h2>
            <ul>
                <li>Project1</li>
                <li>Project2</li>
                <li>Project3</li>
            </ul>

        </div>

        <div class="card" id="profile">
            <h2>Tasks</h2>
            <ul>
                <li>Task1</li>
                <li>Task2</li>
                <li>Task3</li>
            </ul>

        </div>
    </div>
</div>
@code {

}
