@page "/myprofile"
@inject Siemens.MP.Data.ApplicationDbContext DbContext
@using Siemens.MP.Entities;
@using Siemens.MP.Pages.Components
<head>
    <link rel="stylesheet" href="/css/MyProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="modal-body row">
        <div class="col-md-4">
            <div class="card profile">
                <img src="/css/bootstrap/img.jpg" alt="John" class="card-img-top imgprofile">
                <p class="title">John Wick</p>

                <div class="text-card">
                    <p><i class="fa fa-home"></i>Brasov</p>
                    <p><i class="fa fa-university"></i>Matematica si Informatica</p>
                    <p><i class="fa fa-phone-square"></i>0760030989</p>
                    <hr>
                    <p><b><i class="fa fa-asterisk info"></i>Skills</b></p>
                    <div class="skill-bar">
                        <div class="progress-bar" style="width:80%">Language C# 80%</div>
                    </div>
                </div>

                <center>
                    <p>
                        <a href="https://www.facebook.com/ionuut.alban">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="https://github.com/albanionut">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </p>
                </center>

            </div>
        </div>




        <div class="col-md-8">

            <CardProject></CardProject>

            <CardTask></CardTask>

        </div>
    </div>
</body>
@code {


}
