@page "/projects"
@using Siemens.MP.Enums
@using Siemens.MP.Entities
@inject Siemens.MP.Data.ApplicationDbContext DbContext
@inject Siemens.MP.Data.Repositories.GenericRepository<Project> ProjectRepository

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="modal-body row">
        <div class="project-first-column">
            <h3>Projects</h3>
            <ul id="projlist" class="projects list-group list-group-flush">
                @foreach (Siemens.MP.Entities.Project project in projects)
                {
                        <li title="@project.Description" class="liproject">
                                <div class="issue-content-container" @onclick="@(() => ChangeTheProjectID(project.Id))">
                                    <span class="issue-link-key">@project.Title</span>
                                    <span class="issue-link-summary">@project.Description</span>
                                </div>
                        </li>
                }
            </ul>
        </div>
        <div class="project-second-column">
            <Siemens.MP.Pages.Components.DetailedProjectComponent @bind-IdProject="ProjectID"></Siemens.MP.Pages.Components.DetailedProjectComponent>
            <Siemens.MP.Pages.Components.ProjectTasksComponent @bind-IdProject="ProjectID"></Siemens.MP.Pages.Components.ProjectTasksComponent>
        </div>
    </div>
}


@code {

    private IList<Siemens.MP.Entities.Project> projects;

    [Parameter]
    public int ProjectID { get; set; }

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        projects = await ProjectRepository.GetAll();
    }
    private void ChangeTheProjectID(int projectID)
    {
        ProjectID = projectID;
    }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
