@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Context

    <link rel="stylesheet" href="/css/landingpage.css">

@if (Context.HttpContext.User.Identity.IsAuthenticated)
{


    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
}
else
{
    <div class="bg"></div>
    <div class="flex-container align-bottom" id="flex-container">
        <p></p>
        <h1 style="color:white; height:100px"><b>Siemens</b> <i>management application for students</i></h1>
        <img src="/css/logo-white.png" style="height:150px; margin:200px" />
        <a href="Identity/Account/Login" class="cta">Authenticate</a>

    </div>
}

