@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Context

    <link rel="stylesheet" href="/css/landingpage.css">

@if (Context.HttpContext.User.Identity.IsAuthenticated)
{


    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
}
else
{
    <div class="bg"></div>
    <div class="flex-container align-bottom" id="flex-container">

        <h1 >Siemiens management application for students</h1>
        <p class="lead">This is the landing page. Click the CTA below if you would like me to design one for you.</p>
        <a href="Identity/Account/Login" class="cta">Log In !</a>
    </div>
}

