
<div class="card" >
    <div class="card-body">
        <h5 class="card-title">Project name</h5>
        <p class="card-text">Project description lorem ipsum bla bla sal cf</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Owner:
            <span class="badge badge-primary badge-pill list-group-item-danger">Name of the owner</span>
        </li>
        <li class="list-group-item">
            Deadline:
            <span class="badge badge-primary badge-pill list-group-item-success">Marti intr-o joi</span>
        </li>

        <li class="list-group-item">
            <h4>Students working on this project</h4>
            <span class="badge badge-primary badge-pill list-group-item-info">Marcelino</span>
            <span class="badge badge-primary badge-pill list-group-item-info">Iohannis</span>
            <span class="badge badge-primary badge-pill list-group-item-info">Base</span>
            <span class="badge badge-primary badge-pill list-group-item-info">Dancila</span>
        </li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Go to detailed description</a>
    </div>
</div>
@code {

}
